data/*

!data/
!data/Delft/
data/Delft/*
!data/Delft/citymodel/
!data/Delft/citymodel/**

.vscode/*
.ipynb_checkpoints/*
build/*
out/*
.vs/*
test_other.ipynb
analysis/citysim/*
analysis/kml_files/*
analysis/epwfiles/*
analysis/kml_epw/*
analysis/tmy3_result
analysis/*.txt